/DS_Store
.ipynb_checkpoints/
__pycache__/
.DS_Store

#personal
old/
ScanInfo_test.ipynb

#key
build/service_account.json
build/ScanInfoToGsheetGUI.exe
build/config_gdrive.ini
build/config_parameters.ini
source/service_account.json


