LogMaker 4 GoogleDocs/source/HTTplaceholders.ini
LogMaker 4 GoogleDocs/source/HTTparameters.ini
LogMaker 4 GoogleDocs/source/HTTcurrentvalues.ini
LogMaker 4 GoogleDocs/source/HTTplaceholders.ini
LogMaker 4 GoogleDocs/source/HTTparameters.ini
LogMaker 4 GoogleDocs/source/HTTcurrentvalues.ini
LogMaker 4 GoogleDocs/source/frontpanel.png
GEECS-PythonAPI/*.xml
*.pyc
.env
.vscode/
.DS_Store
.ipynb_checkpoints
.idea
Xopt-GEECS/config.lnk
Xopt-GEECS/testing nb.ipynb
*.log
LogMaker 4 GoogleDocs/source/HTUcurrentvalues.ini
LogMaker 4 GoogleDocs/source/HTUparameters.ini
*.spyproject
GEECS-PythonAPI/htu_scripts/test_scripts/credentials.json
LogMaker4GoogleDocs/logmaker_4_googledocs/HTUcurrentvalues.in
LogMaker 4 GoogleDocs/source/credentials.json
LogMaker 4 GoogleDocs/source/token.pickle
GEECS-Scanner-GUI/testing.ipynb
ScanAnalysis/scan_analysis/third_party_sdks/wavekit_43/WFS_HASO4_LIFT_680_8244_gain_enabled.dat
ScanAnalysis/scan_analysis/third_party_sdks/wavekit_43/WFSL_HASO4_LIFT_680_8244_MC.lift
ScanAnalysis/log_dll_load.txt
ScanAnalysis/single_shot_estimated_legendre.txt
