LogMaker 4 GoogleDocs/source/HTTplaceholders.ini
LogMaker 4 GoogleDocs/source/HTTparameters.ini
LogMaker 4 GoogleDocs/source/HTTcurrentvalues.ini
LogMaker 4 GoogleDocs/source/HTTplaceholders.ini
LogMaker 4 GoogleDocs/source/HTTparameters.ini
LogMaker 4 GoogleDocs/source/HTTcurrentvalues.ini
LogMaker 4 GoogleDocs/source/frontpanel.png
GEECS-PythonAPI/*.xml
*.pyc
.env
.vscode/
.DS_Store
.ipynb_checkpoints
.idea
Xopt-GEECS/config.lnk
Xopt-GEECS/testing nb.ipynb
*.log
LogMaker 4 GoogleDocs/source/HTUcurrentvalues.ini
LogMaker 4 GoogleDocs/source/HTUparameters.ini
*.spyproject
GEECS-PythonAPI/htu_scripts/test_scripts/credentials.json
